@import '../index';

.header-title {
    width: 100%;
    height: 30vh;
    background: $gray;
    @include flexCenter(row);
    h1 {
        font-size: 3rem;
        color: $white;
        margin: 0;
        padding: 0;
    }
}