@import '../index';

.navbar {
    display: grid;
    grid-template-columns: 300px 5% 1fr 300px;
    background-color: $white;
    color: $gray;
    width: 100%;
    height: 6rem;
    .logo-container {
        @include svgContainer;
        grid-column-start: 2;
        }
    img {
        display: block;
        width: 100%; 
    }
    .nav-buttons {
        @include flexCenter(row);
        padding-left: 10rem;
        justify-content: space-between;
        grid-column-start: 3;
        button {
            @include buttonStyling;
        }
        .trade-btn {
            background: $orange;
            color: $white;
            width: 10rem;
            height: 3rem;
            border-radius: 15px;
            border: none;
            &:hover {
                border-bottom: none;
            }
            &:focus {
                border: none;
                color: $white;
            }
        }
    }
}