@import '../index';

.offer {
    width: 100%;
    max-height: 10vh;
    @include flexCenter(row);
    width: 100%;
    max-height: 100%;
    .item {
        width: 40%;
        @include flexCenter(column);
        justify-content: space-around;
        h3, p {
            margin: 0;
        }
        .img-wrapper {
            @include flexCenter(row);
            width: 7rem;
            height: 7rem;
            img {
                border-radius: 20px;
                max-width: 100%;
            }
        }
    }
    .status {
        width: 20%;
        @include flexCenter(column);
        font-size: 1rem;
        i {
            font-size: 2rem;
        }
    }
}