@use './pages/LoginSignUp';
@import 'index';

body {
    margin: 0;
    padding: 0;
    background: $white;
    font-family: 'Montserrat', sans-serif;
}

.App {
    height: 100vh;
}

.bg-dim {
    position: absolute;
    width: inherit;
    height: inherit;
    background: $gray;
    opacity: 60%;
}